.btn {
  display: inline-block;
  color: gray;
}

.btn:hover {
  cursor: pointer;
}

#heading {
  display: inline;
}

#flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid gray;
  box-shadow: 10px #888888;
}

#flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid orange;
  padding: 10px 5px 10px 5px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.track-li {
  border-top: 1px solid gray;
  padding: 10px 0 10px 0;
  margin: 0;
  list-style-type: none;
}

.tile-li  {
  float: left;
  padding: 5px;
  display: inline;
  position: relative;
}

.tile-li .track-left-text {
  display: none;
}

.tile-li .track-date {
  display: none;
}


.tile-li .track-text {
  display: hidden;
}

.tile-li img {
  width: 90px;
  height: 90px;
  display: block;
}

.tile-li .track-menu {
  position: absolute;
  left: 30px;
  top: 50px;
  float: right;
  color: white;
}

.track-li:first-of-type {
  margin-top: 10px;
  border-top: none;
}

.track-li:last-of-type {
  margin-bottom: 10px;
}

img {
  width: 50px;
  height: 50px;
}


.track-text {
  display: flex;
  justify-content: space-between;
}

.track-left {
  display: flex;
}

.track-left-text {
  margin: 0 0 0 8px;
}

.track-left p {
  margin: 0;
}

.text-gray {
  color: gray;
  font-size: 11px;
}

.track-band {
  margin: 0 0 0 0px;
  padding-bottom: 6px;
}

.track-title {
  font-size: 11px;
  padding-bottom: 4px;
}

.track-progress {
}

.track-date {
  margin: 0;
}

.track-menu {
  margin: 20px 0 0 50px;
  font-size: 14px;
}
